@font-face {
    font-family: 'broncos';
    src: url(BroncoPersonalUse.ttf); /* Locate the .ttf file within your directory */
}

body {
    background-image: url(try\ 1.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1 {
    font-family: broncos;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

#title {
    margin: 10px 0;
}

nav {
    margin-top: 10px;
}

#nav-links {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

#nav-links a:hover {
    background-color: #555;
    border-radius: 5px;
}

main {
    padding: 20px;
    text-align: center;
}

section {
    margin: 20px 0;
}

.row {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.column-about, .column-services {
    flex: 1;
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #ddd;
}

.gallery {
    text-align: center;
    margin: 20px;
}

.gallery img {
    max-width: 100%;
    height: auto;
}

.gallery-desc {
    padding: 10px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Contact and Jobs Section */
.contact, .jobs {
    flex: 50%;
    padding: 20px;
    font-size: 25px;
}

.contact {
    text-align: left;
    height: 150px;
}

.jobs {
    display: flex;
    text-align: center;
    padding-top: 250px;
}



